:root {
    --dark_blue:#1b3465;
    --golden: #ffb803;
    --light_blue: #96a3da;
    --golden_alfa:#ffb803bb;
    --dark_primary: rgb(41, 41, 41);
    --dark_secondary: rgba(129, 131, 132, 0.5);
    --border_color: rgba(128, 128, 128, 0.212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    transition: .4s;
}