.write-btn{
    border-radius: .6rem;
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    outline: none;
    transition: .3s;
    background-color: rgba(209, 209, 209, 0.596);
}
.write-btn:first-child{
    background-color: var(--golden);
}
.write-btn:hover{
    border-radius: 0;
    background-color: var(--golden);

}
.form-control:focus{
    box-shadow: none;
}
.editorArea{
  margin: 0;
  padding: 1.6rem;
  color: black;
  border-radius: 1.4rem;
  background-color: white;
  transition: .2s;
}

/* FOR TAGS */
.keyHandler {
  float: left;
  width: 100%;
  min-width: 30%;
  margin-bottom: .5rem;
}

.keyHandler>button {
  float: right;
  height: 100%;
  min-width: 6%;
  border: none;
  outline: none !important;
  background: var(--golden);
  border-radius: .7rem;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.keyHandler>input {
  float: left;
  width: 92%;
  height: 38px;
  padding: 0 14px;
  background: #ffffff;
  outline: none !important;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .6rem;
}


.addedKeysHolder {
  float: left;
  width: 100%;
  height: auto;
  margin: 0 0 .7rem 0;
}

.addedKeysHolder>span {
  background: #f7cf1e9a;
  padding: 4px 8px 7px 30px;
  float: left;
  margin: 2px;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 12pt;
  position: relative;
  cursor: pointer;
}

.addedKeysHolder>span:after {
  content: "\d7";
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  line-height: .5;
  margin: auto;
  font-size: 1.5rem;
}
/* Tags end */


/* Responsive */
@media screen and (max-width: 380px) {

    .keyHandler>button {
        min-width: 12.5%;

    }
    .keyHandler>input {
        float: left;
        width: 85%;
    }
}
@media screen and (max-width: 540px) {

    .keyHandler>button {
        min-width: 10%;
        margin-left: .1rem;

    }
    .keyHandler>input {
        float: left;
        width: 89%;
    }
}