@{
    ViewData["IsAuthenticated"] = User.Identity?.IsAuthenticated.ToString().ToLower();
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- basic page need -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@await RenderSectionAsync("title")</title>

    <!-- meta tags -->
    <!-- custom css -->

    <link rel="stylesheet" href="/front/assets/css/style.css">
    <link rel="stylesheet" href="/front/assets/css/theme.css">
    <link rel="stylesheet" href="/front/assets/css/responsive.css">

    <!-- libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css"
          integrity="sha512-+ouAqATs1y4kpPMCHfKHVJwf308zo+tC9dlEYK9rKe7kiP35NiP+Oi35rCFnc16zdvk9aBkDUtEO3tIPl0xN5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/front/assets/css/hamburgermenu.css">
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        /* Toastr stilleri */
        #toast-container > div {
            opacity: 0.9 !important;
        }

    </style>
    @await RenderSectionAsync("links",false)

    @await Component.InvokeAsync("Seo")

</head>

<body class="light">
    <header class="mx-lg-4 mx-3">
        <div class="nav-area container-fluid  px-3 px-lg-5">

            <div id="nav-logo">
                <a href="/Home/Index">
                    <img src="/front/assets/images/logo.png" width="45rem"
                         alt="LOGO">
                </a>
            </div>

            <div id="nav-links">
                <ul>
                    
                    
                   

                    <a asp-action="CreatePost" asp-controller="Post">
                        <li><i class="fa-sharp fa-solid fa-feather"></i>Sor</li>
                    </a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Moderator"))
                    {
                        
                        <a asp-action="Notifications" asp-controller="Home">
                        <li><i class="fa-regular fa-bell"></i>@await Component.InvokeAsync("NotificationCount")</li>
                        </a>
                        <a asp-action="Settings" asp-controller="Account">
                        <li><i class="fa-solid fa-gear"></i></li>
                        </a>
                        <a asp-action="Logout" asp-controller="Account">
                        <li style="background-color: var(--light_blue);"><i style="background-color: var(--light_blue);" class="fa-solid fa-right-to-bracket fa-rotate-180"></i></li>
                        </a>
                        <a asp-action="Index" asp-controller="Dashboard">
                        <li style="background-color:#c12b32">
                            <i style="background-color:#c12b32" class="fa-solid fa-shield-halved"></i>
                        </li>

                        </a>
                    }
                    else if (User.IsInRole("Member"))
                    {
                        <a asp-action="Notifications" asp-controller="Home">
                        <li><i class="fa-regular fa-bell"></i>@await Component.InvokeAsync("NotificationCount")</li>
                        </a>
                        <a asp-action="Settings" asp-controller="Account">
                        <li><i class="fa-solid fa-gear"></i></li>
                        </a>
                        <a asp-action="Logout" asp-controller="Account">
                        <li style="background-color: var(--light_blue);"><i style="background-color: var(--light_blue);" class="fa-solid fa-right-to-bracket fa-rotate-180"></i></li>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account">
                        <li><i class="fa-solid fa-right-to-bracket"></i></li>
                        </a>
                    }

                    <li class="switch-parent">
                        <label class="switch">
                            <input id="switch-input" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <div id="hamburgerDiv" class="open">
                <span class="cls"></span>
                <span>
                    <ul class="sub-menu ">
                        <li>
                            <a asp-action="CreatePost" asp-controller="Post">Sor</a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Moderator"))
                        {

                            <li><a asp-action="Notifications" asp-controller="Home">Bildirimlerim</a></li>


                            <li> <a asp-action="Settings" asp-controller="Account">Ayarlarım</a></li>


                            <li><a asp-action="Logout" asp-controller="Account">Çıkış yap</a></li>


                            <li>
                                <a asp-action="Index" asp-controller="Dashboard">Yönetim</a>
                            </li>


                        }
                        else if (User.IsInRole("Member"))
                        {

                            <li><a asp-action="Notifications" asp-controller="Home">Bildirimler</a></li>


                            <li><a asp-action="Settings" asp-controller="Account">Ayarlarım</a></li>


                            <li><a asp-action="Logout" asp-controller="Account">Çıkış yap</a></li>

                        }
                        else
                        {

                            <li>
                                <a asp-action="Login" asp-controller="Account">Giriş yap </a>
                            </li>

                        }
                        <li class="switch-parent">
                            <a href="javascript:void(0)" id="mobileDarkSwitch">Koyu mod</a>

                        </li>
                    </ul>
                </span>
                <span class="cls"></span>
            </div>
        </div>
    </header>
    <main id="main" class="row px-2  mx-1 mx-lg-2">
        @RenderBody()
    </main>
    <!-- back to top -->
    <a onclick="javascript:void(0);" class="back-to-top"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- loading -->
    <div class="wrapper">
        <div class="loader" id="loader">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
        </div>
    </div>
    @*alert*@
    <div style="display:none">
        @Html.Raw(TempData["alerts"])
    </div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"
            integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="/front/assets/js/app.js"></script>
    <script src="/front/assets/js/hamburgermenu.js"></script>
    <script src="/front/assets/js/theme.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @*alerts*@
    <script>
        const Infoalerts = document.querySelectorAll(".infoAlert")
        Infoalerts.forEach((alert) => {
            toastr.info(alert.textContent)
        })
        const Successalerts = document.querySelectorAll(".successAlert")
        Successalerts.forEach((alert) => {
            toastr.success(alert.textContent)
        })
        const Warningsalerts = document.querySelectorAll(".warningAlert")
        Warningsalerts.forEach((alert) => {
            toastr.warning(alert.textContent)
        })
        const Erroralerts = document.querySelectorAll(".errorAlert")
        Erroralerts.forEach((alert) => {
            toastr.error(alert.textContent)
        })

    </script>

    <script>
        function isAuth() {
            var isAuthenticated = '@ViewData["IsAuthenticated"]';
            if (isAuthenticated === "true") {
                // kullanıcı oturum açık
                return true
            } else {
                // kullanıcı oturum açık değil
                return false
            }
        }
        

    </script>

    @await RenderSectionAsync("scripts",false)


</body>

</html>